---
to: '{{ form.email }}'
from: 'Example Marketplace <info@example.com>'
reply_to: no-reply@example.com
subject: 'COVID-19 Questionnare Form'
---
<h1>Hi {{ form.email }}!</h1>

<p>{{form.content}}</p>